<p style="color: green"><%= notice %></p>

<h1>Stocks</h1>

<div id="stocks">
  <% @stocks.each do |stock| %>
    <%= render stock %>
    <p>
      <%= link_to "Show this stock", stock %>
    </p>
  <% end %>
  <% @products.each do |product| %>
    
    <p>
     <%= product.name %> -<%= product.quantity %>
    </p>

  <% end %>
</div>

<%# <%= link_to "New stock", new_stock_path %> 
